<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa beatae esse ea voluptatem eveniet architecto totam fugiat amet iure eius accusantium expedita repellendus at, error perspiciatis in sit quidem deleniti.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>