<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">Conduce</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="student.Conduce ? 'table-success' : 'table-danger'"  *ngFor="let student of students">
      <th scope="row">{{ student.Nombre}}</th>
      <td>{{ student.Apellido}}</td>
      <td>{{ student.Edad | date }}</td>
      <td>{{ student.Conduce}}</td>
    </tr>
  </tbody>
</table>